[package]
name = "tui-tree-widget"
description = "Tree Widget for tui-rs"
version = "0.7.0"
license = "MIT"
repository = "https://github.com/EdJoPaTo/tui-rs-tree-widget"
documentation = "https://docs.rs/tui-tree-widget"
authors = ["EdJoPaTo <tui-tree-widget-rust-crate@edjopato.de>"]
edition = "2018"
rust-version = "1.48.0"
keywords = ["tui", "terminal", "tree", "widget"]
include = ["src/**/*", "README.md"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
unicode-width = "0.1"

[dependencies.tui]
version = "0.16"
default-features = false

[dev-dependencies]
termion = "1"

[dev-dependencies.tui]
version = "0.16"
default-features = false
features = ["termion"]
