[package]
name = "tui-tree-widget"
description = "Tree Widget for tui-rs"
version = "0.5.0"
authors = ["EdJoPaTo <tui-tree-widget-rust-crate@edjopato.de>"]
edition = "2018"
keywords = ["tui", "terminal", "tree", "widget"]
license = "MIT"
readme = "readme.md"
repository = "https://github.com/EdJoPaTo/tui-rs-tree-widget"
include = ["src/**/*", "readme.md"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
unicode-width = "0.1"

[dependencies.tui]
version = "0.15"
default-features = false

[dev-dependencies]
termion = "1"

[dev-dependencies.tui]
version = "0.15"
default-features = false
features = ["termion"]
