name: Rust Code Formatting

on:
  push:
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          components: rustfmt

      - uses: actions/checkout@v2

      - name: Check format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check --verbose
